.searchZone{
    position: fixed;
    width: 230px;
    z-index: 400;
    top: 10px;
    right: 10px;
    background-color: var(--transparentWhite);
    padding: 9px 7px;
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 4px #00000025;
    border-radius: 8px;
}
input[type="search"]{
    height: 24px;
    padding-left: 5px;
    border-radius: 4px;
    border: solid 1px var(--grey);
}
.proposition{
    border-radius: 4px;
    border: solid 1px var(--grey);
    padding: 5px;
    background-color: var(--white);
}