:root{
  --gold:#f0c900;
  --grey:#7d7d7d;
  --black:#000000;
  --white:#ffffff;
  --transparentWhite: #ffffff53;
}
@font-face {
  font-family: 'Inter';
  src: url(/public/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}
body{
  font-family: 'Inter';
  font-weight: 500;
}
.disable-interaction{
  pointer-events: none;
  filter: blur(10px);
}